<!DOCTYPE html>
<html lang="kr">
<head>{{> /include/header}}
</head>
<body>
	<div class="container" id="main">
		<div class="col-md-8 col-md-offset-2">
			<h1>공고 추가</h1>
			<div class="panel panel-default content-main">
				<form name="post" method="post" action="/{{tenant}}/posts">
					<div class="form-group">
						<label for="title">제목</label>
						<input class="form-control" id="title" name="title" placeholder="title" />
					</div>
					<div class="form-group">
						<label for="desc">설명</label>
						<input class="form-control" id="explanation" name="explanation" placeholder="explanation" />
					</div>
					<button type="submit" class="btn btn-success clearfix pull-right">저장</button>
					<div class="clearfix" />
				</form>
			</div>
		</div>
	</div>
	{{> /include/footer}}
</body>
</html>