<!DOCTYPE html>
<html lang="kr">
<head>{{> /include/header}}
</head>
<body>
    <div class="container" id="main">
		<div class="col-md-10 col-md-offset-1">
			<h1>채용공고 리스트</h1>
			<div class="panel panel-default">
				<table class="table table-hover">
					<thead>
						<tr>
							<th></th>
							<th>제목</th>
							<th>설명</th>
						</tr>
					</thead>
					<tbody>
						{{#posts}}
						<tr>
							<th scope="row">{{id}}</th>
							<td><a href="/{{tenant}}/posts/{{id}}/form">{{title}}</a></td>
							<td>{{explanation}}</td>
						</tr>
						{{/posts}}
					</tbody>
				</table>				
			</div>
			<a href="/{{tenant}}/posts/form" class="btn btn-success" role="button">신규</a>
		</div>
	</div>
	{{> /include/footer}}
</body>
</html>