<!DOCTYPE html>
<html lang="kr">
<head>{{> /include/header}}
</head>
<body>
	<div class="container" id="main">
		<div class="col-md-8 col-md-offset-2">
			<h1>사용자 추가</h1>
			<div class="panel panel-default content-main">
				<form name="user" method="post" action="/{{tenant}}/users">
					<div class="form-group">
						<label for="userId">아이디</label>
						<input class="form-control" id="userId" name="userId" placeholder="User ID">
					</div>
					<div class="form-group">
						<label for="password">비밀번호</label>
						<input type="password" class="form-control" id="password" name="password" placeholder="Password">
					</div>					
					<div class="form-group">
						<label for="name">이름</label> <input class="form-control" id="name"
							name="name" placeholder="Name">
					</div>
					<div class="form-group">
						<label for="email">이메일</label> <input type="email"
							class="form-control" id="email" name="email" placeholder="Email">
					</div>
					<button type="submit" class="btn btn-success clearfix pull-right">저장</button>
					<div class="clearfix" />
				</form>
			</div>
		</div>
	</div>
	{{> /include/footer}}
</body>
</html>