<!DOCTYPE html>
<html lang="kr">
<head>{{> /include/header}}
</head>
<body>
	<div class="container" id="main">
		<div class="col-md-10 col-md-offset-1">
			<h1>사용자 리스트</h1>
			<div class="panel panel-default">
				<table class="table table-hover">
					<thead>
						<tr>
							<th></th>
							<th>아이디</th>
							<th>이름</th>
							<th>이메일</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{{#users}}
						<tr>
							<th scope="row">{{id}}</th>
							<td>{{userId}}</td>
							<td>{{name}}</td>
							<td>{{email}}</td>
							<td><a href="/user/{{id}}/form" class="btn btn-success" role="button">수정</a></td>
						</tr>
						{{/users}}
					</tbody>
				</table>				
			</div>
			<a href="/{{tenant}}/users/form" class="btn btn-success" role="button">신규</a>
		</div>
	</div>
	{{> /include/footer}}
</body>
</html>